body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #555;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
}

.card.flipped img, .card.matched img {
    display: block;
}

.card.flipped, .card.matched {
    background-color: #77dd77;
    transform: rotateY(180deg);
}
