/*Todos*/
body#home{
    overflow: hidden
}

header{
    background-color: rgb(72, 161, 13);
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.fundo{
    background-image: url(img/fundo.png);
    background-size: cover;
}
html, body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer{
    background-color: gray;
    padding: 3px ;
    color: white;
    position:fixed;
    bottom: 0px;
    text-align: center;
    width: 99.5%
}

#button-home{
    background-image: url('img/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 20px;
    border: none;
    cursor: pointer;
}
#button-home:active{
    background-color: rgb(0, 247, 53);
}
/*Pagina Home*/
#home{
    background-image: url(img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*botao de proximo */
#button {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: transparent;
    background-image: url('img/botaodeprox.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#button:active {
    background-color: rgb(0, 247, 53);
}
#button h1{
    font-size: 25px;
    position: absolute;
    right: -40%;
    top: 100%;
    color: white;
}

#css {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: transparent;
    background-image: url('img/CSS.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#css:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adiciona um efeito hover */
}
#css:active {
    background-color: rgb(0, 247, 53);
}

#js {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 13%;
    background-color: transparent;
    background-image: url('img/js.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#js:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adiciona um efeito hover */
}
#js:active {
    background-color: rgb(0, 247, 53);
}

/*botao de nome */
#toggle-menu {
    background-image: url(img/name.png);
    position: absolute;
    top: 26px;
    right: -355px;
    padding: 44px 200px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: right 1s ease-in-out;
    overflow-y: auto;
    z-index: 1;
}
#toggle-menu:active {
    background-color: rgb(0, 247, 53);
}

/*Pagina Tarefa*/
.text{
    font: bolder;
    font-size: 120px;
    text-align: center;
    color: #90dbe8;
    -webkit-text-stroke: 5px black;
    font-family: monospace;
}

.Tarefas{
    width: 940px;
    margin: 200px 15%;
    padding: 0px;
}
.trabalhos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 10px ;
    box-sizing: border-box;
    
}



/*---------------------------------------------------------------------------------------*/
#trabalho1 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho1:active {
    background-color: rgb(0, 247, 53);
}

#trabalho2 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho2:active {
    background-color: rgb(0, 247, 53);
}

#trabalho3 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho3:active {
    background-color: rgb(0, 247, 53);
}

#trabalho4 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho4:active {
    background-color: rgb(0, 247, 53);
}
#trabalho5 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho5:active {
    background-color: rgb(0, 247, 53);
}
#trabalho6 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho6:active {
    background-color: rgb(0, 247, 53);
}
#trabalho7 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho7:active {
    background-color: rgb(0, 247, 53);
}
#trabalho8 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho8:active {
    background-color: rgb(0, 247, 53);
}
#trabalho9 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho9:active {
    background-color: rgb(0, 247, 53);
}
#trabalho10 {
    background-image: url(img/caixa.png);
    padding: 40px 100px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho10:active {
    background-color: rgb(0, 247, 53);
}